<div class="panel panel-primary">
  <div class="panel-heading">
    <h2>Lista de Projetos</h2>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>NOME</th>
          <th>SALA</th>
          <th>TURMA</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let it of projetos ">
          <td>{{it.nome}}</td>
          <td>{{it.sala}}</td>
          <td>{{it.turma}}</td>
          
          <td><button class="btn btn-danger">Delete</button>
              <button class="btn btn-info" style="margin-left: 10px">Update</button>
              <button class="btn btn-info" style="margin-left: 10px"(click)="detalhes(10)">Details</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

